.bg-container{
  background-color: #080710;
  min-height: 100vh; 
  background-image: url("../../../public/images/header-pattern.png");
  background-size: cover;
}
  .login-background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  .login-background .login-shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }

  .login-shape:first-child {
    background: linear-gradient(#1845ad,
        #23a2f6);
    right: -80px;
    bottom: -80px;
  }

  .login-shape:last-child {
    background: linear-gradient(to right,
        #ff512f,
        #f09819);
    right: -30px;
    bottom: -80px;
  }

  .login-form {
    text-align: right;
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.08);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
 
  }

  .login-form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    outline: none;
    border: none;
  }

  .login-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }

  .login-form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }

  .login-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }

  ::placeholder {
    color: #e5e5e5;
  }

  .login-form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-form a {
    text-decoration: none;
    text-align: center;
    display: block; 
    color: white; 
    transition: color 0.3s ease;
    margin-top: 15px;
  }
  
  .login-form a:hover {
    color: #1e90ff; /* Change to blue on hover */
  }